.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    list-style: none;
    padding: 0;
  }
  
  .footer-content {
    display: flex;
  }
  
  .footer-section {
    margin-right: 40px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px;
  }
  
  .payment-logos {
    display: flex;
    gap: 10px;
  }
  
  .footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
  }

  .footer-below-links{
    display: flex;
    flex-direction: row;
  }

  .footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    font-weight: 600;
  }