.bodyhome {
  //padding-top: 10px;
  background-image: url(../components/assets/BG2.png);
  background-repeat: no-repeat;
  background-position:  0px -630px;
  background-size: cover;
  
  @media screen  {
    
  }
}
