.bodyhome {
  //padding-top: 10px;
  background-image: url(../components/assets/BG2.png);
  background-repeat: no-repeat;
  background-position: 0px -630px;
  background-size: cover;
  margin-top: 80px;

}

.sidebar-container {
  display: flex;
  flex-direction: column;

  min-width: 15rem;

  .sidebar-categories {
    display: flex;
    flex-direction: column;
  }
}
.poster-div {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(250, 235, 215, 0.486);
  text-align: center;
  .poster-collection {
    color: black;
    font-weight: 900;
  }
}
