.header {
 display: flex;
 justify-content: space-between;
 background-color: aquamarine;
 position: fixed;
 top: 0 ;
 left: 0 ;
 width: 100%;
 z-index: 100;
 height: 5rem;
 align-items: center;
 

 ul {
    
    display: flex;
    gap : 1rem;

 }
 a {
    margin-left : 1rem;
 }


}  
