
.single-product-container {
    display: flex;
    align-items :center;
    justify-content: center;
    margin-top:5rem;
    gap: 2rem;

    img {
        max-width: 25rem;
        object-fit: contain;
    }

    .single-info{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

}